RewriteEngine on

# always make rewrites from the root dir
RewriteBase /

# deny access to .htaccess
<Files .htaccess>
Order allow,deny
Deny from all
</Files>

# hide contents of directories
IndexIgnore *

# force https
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://v-os.ca/$1 [R,L]

# index
DirectoryIndex page.php

# if file doesn't exist (pretty much always), load query into root/page.php?v=...
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ page.php?v=$1 [NC,L]

# redirect errors
ErrorDocument 404 https://v-os.ca/404-Error
ErrorDocument 403 https://v-os.ca/404-Error
ErrorDocument 500 https://v-os.ca/404-Error